main {
  width: 800px;
  margin: 200px auto 72px auto;
  background-color: rgb(219, 108, 94);
  padding: 24px;
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 400px;
  height: fit-content;
  border: 25px solid rgb(44, 44, 44);
  border-radius: 200px;
  margin-top: -220px;
}

h1 {
  color: rgb(31, 25, 25);
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
}

span {
  color: rgb(66, 2, 2);
}

a {
  color: rgb(73, 29, 50);
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(75, 59, 59);
  font-weight: bold;
  font-size: 32px;
}
